.features_container {
    padding: 50px 200px;
    background: #fff;
}

.features {
    padding: 30px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    /* background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%); */
    background: linear-gradient(135deg, #031b34, #81afdd);
}

.feature {
    font-family: poppins;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
}


.feature img {
    height: 100px
}